body, html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.barra-anuncio {
   background-color: #000000; 
   overflow: hidden; 
   position: relative;
   width: 100%;
   padding: 15px 0;
}

.track {
   display: flex; 
   width: fit-content;
   animation: scrollInfinito 20s linear infinite;
   will-change: transform; 
}

.contenido {
   white-space: nowrap; 
   padding-right: 0;
   min-width: 100vw;    
   text-align: center;
   flex-shrink: 0;     
}

.contenido a {
   color: #ffffff;
   text-decoration: none;
   font-size: 18px;
   display: block;
}

.barra-anuncio:hover .track {
   animation-play-state: paused;
}

@keyframes scrollInfinito {
   0% {
       transform: translateX(0);
   }
   100% {

       transform: translateX(-50%);
   }
}

body, html {
   height: 100%;
}

.navbar-custom {
   top: 0;            
   left: 0;
   width: 100%;
   z-index: 10;       
   background-color: transparent; 
}

.navbar-custom2 {
   top: 0;            
   left: 0;
   width: 100%;
   z-index: 10;       
   background-color: rgb(112, 98, 132); 
}


.navbar-brand {
   font-family: "Oswald", sans-serif;
   letter-spacing: 2px;
   font-size: 1.5rem;
}

.hero-image {

 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/collageescalera.jpg");

 height: 70%;

 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}


.oswald-kfw {
   font-size: 60px;  
   margin-bottom: 10px; 
}


.hero-text {
 font-family: "Oswald", sans-serif;
 font-optical-sizing: auto;
 font-weight: 600;
 font-style: normal;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
} */


#seccion-productos .card img {
aspect-ratio: 4/3;
}

